<html>
    <head>
        <title>JustinR17's Clot</title>
    </head>
    <h1>Homepage</h1>
    Welcome <i>{{ warzone_player }}</i>!
    <br><br><br>
    If you want to remove this link, click <button type="button">here</button>.
    <br><br>
    If you want to link a new warzone account, click <button type="button">here</button>.
    <br><br>
    If you want to delete your current account, click <a href="/delete_player">here</a>.
    <br><br>
    If you need to generate a new token, click <a href="/reset_token">here</a>.
    <br><br>
    If you want to link a new account, private message the bot the following command:
    <br><br>
    <code>/rtl_link {{ discord_token }}</code>
</html>